# Terraform ディレクトリの .terraform を除外
**/.terraform/

# Terraform ロックファイル
.terraform.lock.hcl

# Terraform 状態ファイル (ローカルバックエンドを使用する場合)
*.tfstate
*.tfstate.*

# 変数を含む潜在的にセンシティブな情報を持つファイル
*.tfvars

# GCPのCredential
json-key/*

# githubのトークン
github-token/*

#General
.DS_Store

#python仮想環境
venv/*

*.zip

#環境共通ディレクトリ内のコンフィグファイル
environments/common/cloud-functions/import-csv-to-bq/rawdata/config.yaml