# ワークフロー定義の開始
main:
    steps:
    # 初期設定ステップ
    - init:
        assign:
            - files: ${files}
    # Cloud Function データクレンジングの実行ステップ
    - callCleansingFunction:
        parallel:
            for:
                value: file_name
                in: ${val_files}
                steps:
                    - cleaningfile:
                        call: http.get
                        args:
                            url: ${dollar}{"${CLEANSING_FUNCTION_URL}?bucket_name=${BUCKET}&file_name="+file_name+"&file_encoding=${FILE_ENCODING}"}
                            auth:
                                type: OIDC
                                audience: "${CLEANSING_FUNCTION_URL}"
                            timeout: 1800
